/* ------------------Conteudo Home --------------------*/
.corpoHome {
    width: 100vw;
    height: 100vh;
    background-color: #271655;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

.folhaD, .folhaE, .plateia, .imgCeu {
    position: absolute;
    transition: .65s;
    bottom: 0;
}
.folhaD, .folhaE, .plateia {
    z-index: 3;
}
.folhaD {
    right: -15px;
    height: 250px;
    opacity: 0;
}
.folhaE {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left: 0;
    height: 200px;
    opacity: 0;
}
.plateia {
    opacity: 0;
    transition: .65s;
    bottom: -5px;
    
}
/* --------------------- Box Home ----------------------*/
.corpoHomeBox {
    width: 60vw;
    height: 65vh;
    align-self: center;
    z-index: 2;
    border-radius: 7.5px;
    transition: 1s;
    opacity: 0;
    background-image: url(asset/img/LogoFestHome.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    display: flex;
}
.imgFestival {
    width: 100%;
    height: 100%;
}

/* --------------------- ingressos ----------------------*/

.infoFest {
    width: 100vw;
    height: 100vh;
    background-color: #0d0125;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 20px;
}
.caixaIngressos {
    padding: 15px;
    width: 80%;
    height: 90%;
    background: #ffffff33;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
    "ingresso1 ingresso2"
    "ingresso1 ingresso3"; 
}

.ingressos {
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.ingressos button {
    cursor: pointer;
}

.ingresso1 {
    background-color: #0d0125;
    grid-area: ingresso1;
}
.ingresso2 {
    background-color: #0d0125;
    grid-area: ingresso2;
}
.ingresso3 {
    background-color: #0d0125;
    grid-area: ingresso3;
}